.radio-input:checked {
    background-color: #00b2ff;
}

.auth-input:focus {
    border: 1px solid #00b2ff !important;
}

.auth-text-area:focus {
    border: 1px solid #00b2ff !important;
}

.cancel-button:hover {
    background-color: #404040 !important;
}
.confirm-button:hover {
    background-color: #0099cc !important;
}
